<div>
  <h1 class="font-bold text-8xl text-green-700 underline">Hello World!</h1>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb2</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb3</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb4</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb5</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb6</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb7</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb8</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb9</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb10</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb11</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb12</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb13</p>
  <p class="text-6xl">Find me in app/views/posts/index.html.erb14</p>



</div>


